*{
    padding: 0;
    margin: 0;
}

/* navigation bar styling */

.navbar{
    display: flex;
    z-index: 1;
}

.left-nav{
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.logo img{
    width: 40px;
    padding: 3px;
}

.left-tab{
    display: flex;
}

.left-tab .list-item{
    padding: 12px 23px;
    list-style: none;
}

.left-tab .list-item a{
    text-decoration: none;
    color: white;
    font-family: var(--font1);
    font-size: 18px;
}

.left-tab .list-item a:hover{
    /* color: rgb(235, 115, 115); */
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 12px;
    margin-bottom: 12px;
}

.right-nav{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.right-tab .list-item{
    padding: 12px 23px;
    list-style: none;
}

.right-tab .list-item a{
    text-decoration: none;
    color: white;
    font-family: var(--font1);
    font-size: 18px;
}

/* section one  */

.sec-first{
    height: 80vh;
}

.box-main{
    height: 80vh;
    position: relative;
    top: 93%;
}

.ethics-box{
    max-width: 1200px;
    display: flex;
    margin: auto;
    margin-top: 12px;
}
.box-main .box-e{
    height: 300px;
    width: 300px;
    /* border: 2px solid black; */
    margin: 0 7px;
    box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: var(--font1);
    padding: 12px;
    text-align: center;
}

.box-e .circle{
    background-color: green;
    height: 111px;
    width: 111px;
    margin: 12px;
    border-radius: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-e-head{
    font-size: 18px;
    padding-bottom: 10px;
}


/* Section second */

.sec-second{
    height: 100vh;
}

.second-box-main{
    position: relative;
    top: 400px;
    height: 60vh;
}

.top-selling-products{
    display: flex;
    max-width: 1300px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.top-selling-products .product-box{
    height: 300px;
    width: 300px;
    border: 2px solid rgb(155, 153, 153);
    margin: 12px 5px;
    display: inherit;
}

.top-selling-products .product-box img{
    display: inherit;
    
}

.footer p{
    color: white;
}

.footer{
    position: relative;
    top: 80px;
    height: 35px;
}
